In [1]:
import pandas as pd
from collections import Counter

In [3]:
train = pd.read_pickle('./movie+cast+directors.pkl')

In [4]:
import tmdb 

key =tmdb.key

tm = tmdb.Tmdb(key)

In [9]:
movie_id = train['id'].to_list()

## Genres

In [5]:
list_of_genres = list(train['genres'].apply(lambda x: [i['name'] for i in x] if x != {} else []).values)

In [6]:
train['num_genres'] = train['genres'].apply(lambda x: len(x) if x != {} else 0)
train['all_genres'] = train['genres'].apply(lambda x: ' '.join(sorted([i['name'] for i in x])) if x != {} else '')
top_genres = [m[0] for m in Counter([i for j in list_of_genres for i in j]).most_common(15)]
for g in top_genres:
    train['genre_' + g] = train['all_genres'].apply(lambda x: 1 if g in x else 0)

In [7]:
train = train.drop(['genres'], axis=1)

## Languages

In [8]:
list_of_languages = list(train['spoken_languages'].apply(lambda x: [i['name'] for i in x] if x != {} else []).values)
Counter([i for j in list_of_languages for i in j]).most_common(15)

[('English', 5646),
 ('Français', 713),
 ('Español', 616),
 ('Deutsch', 359),
 ('Italiano', 337),
 ('Pусский', 255),
 ('日本語', 215),
 ('普通话', 162),
 ('العربية', 120),
 ('', 110),
 ('Latin', 100),
 ('广州话 / 廣州話', 83),
 ('Português', 81),
 ('한국어/조선말', 74),
 ('svenska', 47)]

In [9]:
train['num_languages'] = train['spoken_languages'].apply(lambda x: len(x) if x != {} else 0)
train['all_languages'] = train['spoken_languages'].apply(lambda x: ' '.join(sorted([i['name'] for i in x])) if x != {} else '')
top_languages = [m[0] for m in Counter([i for j in list_of_languages for i in j]).most_common(30)]
for g in top_languages:
    train['language_' + g] = train['all_languages'].apply(lambda x: 1 if g in x else 0)
train = train.drop(['spoken_languages', 'all_languages'], axis=1)

## Collections 

if collection == True, the name of the collection is stored in `collection` columns.
Otherwise, `None` is stored

In [10]:
train['collection'] = train['belongs_to_collection'].apply(lambda x: None if x == None else x['name'])

In [11]:
train = train.drop(['belongs_to_collection'], axis =1)

In [12]:
train = train.drop(['index'], axis=1)

## Homepage

if the movie has homepage, True, otherwise false

In [13]:
train['has_homepage'] = train['homepage'].apply(lambda x: False if x == '' else True)

In [14]:
train = train.drop(['homepage','id', 'imdb_id'], axis=1)

We drop the poster_path column from data frame.

In [15]:
train = train.drop(['poster_path'],axis=1)

## Production

`production` column stores the list of the names of the production companies.

`production_countries` column stores the list of the names of the production countries.

In [16]:
train['production'] = train['production_companies'].apply(lambda x: [i['name'] for i in x])

In [17]:
train['production_countries'] = train['production_countries'].apply(lambda x : [i['iso_3166_1'] for i in x])

In [18]:
train = train.drop(['production_companies'], axis=1)

We have added the column `production_countries_US` storing `True` if the one of the production countries is US and `False` otherwise.

In [19]:
train.loc[:,'production_countries_US'] = train['production_countries'].apply(lambda x : True if 'US' in x else False)

In [63]:
train_production = train['production'].str.join('|').str.get_dummies()

In [71]:
# In case of merging,

train.join(train_production)

,budget,original_language,original_title,overview,popularity,production_countries,release_date,revenue,runtime,status,...,thinkfilm,uFilm,uFund,uMedia,uMedia Family,ufotable,wega film vienna,Árpád Productions,Èliseo Entertainment,Íslenska kvikmyndasamsteypan
0,6000000,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",164.432,[US],1972-03-14,245066411,175,Released,...,0,0,0,0,0,0,0,0,0,0
1,25000000,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,125.459,[US],1994-09-23,28341469,142,Released,...,0,0,0,0,0,0,0,0,0,0
2,13000000,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,84.987,[US],1974-12-20,102600000,202,Released,...,0,0,0,0,0,0,0,0,0,0
3,22000000,en,Schindler's List,The true story of how businessman Oskar Schind...,66.416,[US],1993-12-15,321365567,195,Released,...,0,0,0,0,0,0,0,0,0,0
4,13200000,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",35.366,[IN],1995-10-20,100000000,190,Released,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142,25000000,en,Disaster Movie,"The filmmaking team behind the hits ""Scary Mov...",14.031,[US],2008-08-29,14109284,87,Released,...,0,0,0,0,0,0,0,0,0,0
6143,73000000,en,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",17.292,"[CA, US]",2000-05-12,29000000,117,Released,...,0,0,0,0,0,0,0,0,0,0
6144,12000000,en,House of the Dead,"Set on an island off the coast, a techno rave ...",10.612,"[CA, DE, JP, US]",2003-04-11,13818181,90,Released,...,0,0,0,0,0,0,0,0,0,0
6145,30000000,en,Dragonball Evolution,"On his 18th birthday, Goku receives a mystical...",30.846,"[HK, GB, US]",2009-03-12,58228460,85,Released,...,0,0,0,0,0,0,0,0,0,0
6146,10000,en,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,8.134,[US],2010-02-27,0,94,Released,...,0,0,0,0,0,0,0,0,0,0

In [69]:
train_production.set_index(train['title'])

,"""DIA"" Productions GmbH & Co. KG",(Colossal) Pictures,1.85 Films,10.80 Films,100 Bares,1000 Eyes,10th Hole Productions,11:11 Mediaworks,12 Gauge Productions,120 Films,...,thinkfilm,uFilm,uFund,uMedia,uMedia Family,ufotable,wega film vienna,Árpád Productions,Èliseo Entertainment,Íslenska kvikmyndasamsteypan
title,,,,,,,,,,,,,,,,,,,,,
The Godfather,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The Shawshank Redemption,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The Godfather Part II,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Schindler's List,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dilwale Dulhania Le Jayenge,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Disaster Movie,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Battlefield Earth,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
House of the Dead,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dragonball Evolution,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Birdemic: Shock and Terror,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [70]:
# Separate df for production dummy variable

train_production.to_pickle('production.pkl')

# Cast and Director

In [28]:
# Get dummy for casting
train_cast = train['cast'].str.join('|').str.get_dummies()

train_cast.to_pickle('cast.pkl')

In [38]:
# get dummy for directors
train_director = train['directors'].str.join('').str.get_dummies()

train_director.to_pickle('director.pkl')

,A.R. Murugadoss,Aamir Khan,Aaron Harvey,Aaron HorvathPeter Rida Michail,Aaron MoorheadJustin Benson,Aaron Schneider,Aaron Seltzer,Aaron Sorkin,Abbas Kiarostami,Abby KohnMarc Silverstein,...,Zhang Yimou,Zhao JiAmp Wong,Ziad Doueiri,Zoe Lister-Jones,Zoya Akhtar,Àlex PastorDavid Pastor,Álex de la Iglesia,Ángel Manuel Soto,Édouard Molinaro,Éric ToledanoOlivier Nakache
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6144,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6145,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6146,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Normalize release date

`dates` column stores the normalized value between [-1,1] of the release date

In [20]:
import numpy as np
import time

def convert_to_timestamp(x):
    """Convert date objects to integers"""
    return time.mktime(x.timetuple())

In [21]:
train['dates'] = pd.to_datetime(train['release_date'])
train['dates'] = train['dates'].apply(convert_to_timestamp) 
## This converts the release_dates to timetuple (integer valued)

In [22]:
max = train['dates'].max()
min = train['dates'].min()

train['dates'] = (train['dates'] - min) *( 1 - (-1))/ (max -min) + (-1)
## Affine transform from [min, max] to [-1,1]

Added dummy variables for month of the release date

In [23]:
train.loc[302,'release_date'][5:7] # get month from release date

'10'

In [24]:
train['release_month'] = train['release_date'].apply(lambda x : 'month_'+x[5:7])

In [25]:
train = pd.concat([train,pd.get_dummies(train['release_month'])], axis =1)

In [26]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6147 entries, 0 to 6146
Data columns (total 83 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   budget                   6147 non-null   object
 1   original_language        6147 non-null   object
 2   original_title           6147 non-null   object
 3   overview                 6147 non-null   object
 4   popularity               6147 non-null   object
 5   production_countries     6147 non-null   object
 6   release_date             6147 non-null   object
 7   revenue                  6147 non-null   object
 8   runtime                  6147 non-null   object
 9   status                   6147 non-null   object
 10  tagline                  6147 non-null   object
 11  title                    6147 non-null   object
 12  video                    6147 non-null   object
 13  vote_average             6147 non-null   object
 14  vote_count               6147 non-null   object
 15  cast                     6147 non-null   object
 16  directors                6147 non-null   object
 17  num_genres               6147 non-null   int64
 18  all_genres               6147 non-null   object
 19  genre_Drama              6147 non-null   int64
 20  genre_Comedy             6147 non-null   int64
 21  genre_Thriller           6147 non-null   int64
 22  genre_Action             6147 non-null   int64
 23  genre_Adventure          6147 non-null   int64
 24  genre_Crime              6147 non-null   int64
 25  genre_Romance            6147 non-null   int64
 26  genre_Horror             6147 non-null   int64
 27  genre_Science Fiction    6147 non-null   int64
 28  genre_Fantasy            6147 non-null   int64
 29  genre_Family             6147 non-null   int64
 30  genre_Mystery            6147 non-null   int64
 31  genre_Animation          6147 non-null   int64
 32  genre_History            6147 non-null   int64
 33  genre_War                6147 non-null   int64
 34  num_languages            6147 non-null   int64
 35  language_English         6147 non-null   int64
 36  language_Français        6147 non-null   int64
 37  language_Español         6147 non-null   int64
 38  language_Deutsch         6147 non-null   int64
 39  language_Italiano        6147 non-null   int64
 40  language_Pусский         6147 non-null   int64
 41  language_日本語             6147 non-null   int64
 42  language_普通话             6147 non-null   int64
 43  language_العربية         6147 non-null   int64
 44  language_                6147 non-null   int64
 45  language_Latin           6147 non-null   int64
 46  language_广州话 / 廣州話       6147 non-null   int64
 47  language_Português       6147 non-null   int64
 48  language_한국어/조선말         6147 non-null   int64
 49  language_svenska         6147 non-null   int64
 50  language_हिन्दी          6147 non-null   int64
 51  language_Polski          6147 non-null   int64
 52  language_ภาษาไทย         6147 non-null   int64
 53  language_עִבְרִית        6147 non-null   int64
 54  language_ελληνικά        6147 non-null   int64
 55  language_Türkçe          6147 non-null   int64
 56  language_Český           6147 non-null   int64
 57  language_Dansk           6147 non-null   int64
 58  language_Tiếng Việt      6147 non-null   int64
 59  language_Norsk           6147 non-null   int64
 60  language_Magyar          6147 non-null   int64
 61  language_Nederlands      6147 non-null   int64
 62  language_Український     6147 non-null   int64
 63  language_No Language     6147 non-null   int64
 64  language_Română          6147 non-null   int64
 65  collection               1758 non-null   object
 66  has_homepage             6147 non-null   bool
 67  production               6147 non-null   object
 68  production_countries_US  6147 non-null   bool
 69  dates                    6147 non-null   float64
 70  release_month            6147 non-null   object
 71  month_01                 6147 non-null   bool
 72  month_02                 6147 non-null   bool
 73  month_03                 6147 non-null   bool
 74  month_04                 6147 non-null   bool
 75  month_05                 6147 non-null   bool
 76  month_06                 6147 non-null   bool
 77  month_07                 6147 non-null   bool
 78  month_08                 6147 non-null   bool
 79  month_09                 6147 non-null   bool
 80  month_10                 6147 non-null   bool
 81  month_11                 6147 non-null   bool
 82  month_12                 6147 non-null   bool
dtypes: bool(14), float64(1), int64(47), object(21)
memory usage: 3.3+ MB

In [41]:
train.columns

Index(['budget', 'original_language', 'original_title', 'overview',
       'popularity', 'production_countries', 'release_date', 'revenue',
       'runtime', 'status', 'tagline', 'title', 'video', 'vote_average',
       'vote_count', 'cast', 'directors', 'num_genres', 'all_genres',
       'genre_Drama', 'genre_Comedy', 'genre_Thriller', 'genre_Action',
       'genre_Adventure', 'genre_Crime', 'genre_Romance', 'genre_Horror',
       'genre_Science Fiction', 'genre_Fantasy', 'genre_Family',
       'genre_Mystery', 'genre_Animation', 'genre_History', 'genre_War',
       'num_languages', 'language_English', 'language_Français',
       'language_Español', 'language_Deutsch', 'language_Italiano',
       'language_Pусский', 'language_日本語', 'language_普通话', 'language_العربية',
       'language_', 'language_Latin', 'language_广州话 / 廣州話',
       'language_Português', 'language_한국어/조선말', 'language_svenska',
       'language_हिन्दी', 'language_Polski', 'language_ภาษาไทย',
       'language_עִבְרִית', 'language_ελληνικά', 'language_Türkçe',
       'language_Český', 'language_Dansk', 'language_Tiếng Việt',
       'language_Norsk', 'language_Magyar', 'language_Nederlands',
       'language_Український', 'language_No Language', 'language_Română',
       'collection', 'has_homepage', 'production', 'dates',
       'production_countries_US', 'release_month', 'month_01', 'month_02',
       'month_03', 'month_04', 'month_05', 'month_06', 'month_07', 'month_08',
       'month_09', 'month_10', 'month_11', 'month_12'],
      dtype='object')